:root{
    --primary-color: #000D2C;
    --white-color: rgba(255,255,255,0.9)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.main {

}

.header {
    background-color: white;
    
}

.wrap-header {
    display: flex;
    padding: 9px 16px;
    justify-content: space-between;
}

.header_left {
    align-items: center;
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    flex-grow: 1;
}

.header_right {
    display: flex;
    align-items: center;
}

.flag {
    padding: 8px 12px;
    cursor: pointer;
}

.flag img{
    width: 20px;
    height: 20px;
    
}

.chat {
    padding: 8px 12px;
}

.chat i{
    font-size: 20px;
    color: #6c757d;
    cursor: pointer;
}

.chat--separate::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: #e6e6e8;
    margin-left: 15px;
    opacity: 0.5;
}

.register {
    color: #0E1225;
    display: flex;
    align-items: center;
    border: 1px solid #e6e6e8;
    padding: 6px;
    border-radius: 25px;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    font-weight: 600;
}

.register span {
    margin: 0 4px;
}

.register::before {
    content: "";
    position: absolute;
    width: calc(100% + 10px);
    height: 20px;
    top: 100%;
    right: -5px;
}

.register--separate::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: #e6e6e8;
    opacity: 0.5;
    position: absolute;
    left: calc(100% + 15px);
}

.register_logo {
    height: 28px;
    margin-right: 8px;
}

.register_logo img{
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

.arrowdown {
    color: #6c757d;
    margin: 0 4px 0 8px;
}

.wrap_register {
    position: absolute;
    width: 400px;
    background-color: white;
    color: #0069DB;
    top: calc(100% + 9px);
    border: 1px solid #D7D7DB;
    right: -100%;
    padding: 16px;
    display: none;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #D7D7DB;
    z-index: 1;
}

.register:hover .wrap_register {
    display: flex;
}

.wrap_register_top {
    display: flex;
    margin-bottom: 16px;
    justify-content: space-around;
    position: relative;
}

.wrap_register_top::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: #D7D7DB;
    top: calc(100% + 8px);
}

.wrap_register_bot {
    display: flex;
    /* justify-content: space-around; */
}

.wrap_register_left {
    display: block;
    text-decoration: none;
    border-right: 1px solid #D7D7DB;
    padding-right: 20px;
    padding-left: 8px;
    font-size: 16px;
    font-weight: 300;
}

.wrap_register_left a:hover {
    filter: brightness(70%);
}

.wrap_register_left i {
    font-size: 50px;
    margin-top: 22px;
}

.wrap_register_list {
    flex-grow: 1;
}

.wrap_register_list li {
    list-style: none;
    padding: 8px 20px;
}

.wrap_register_list li:hover {
    background-color: #e8f1f5;
}

.wrap_register_list li a {
    text-decoration: none;
    color: #6c757d;
    font-size: 15px;
    font-weight: 300;
}

.wrap_register_list li a i {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
}

.btn_wrap_register {
    padding: 8px 48px;
    border-radius: 50px;
    color: #0069DB;
    border: 1px solid #0069DB;
    background-color: white;
    cursor: pointer;
}

.btn_wrap_register:hover {
    background-color: #0069DB;
    color: white;
}

.btn_wrap_register.btn_wrap_register--active {
    background-color: #0069DB;
    color: white;
}

.btn_wrap_register.btn_wrap_register--active:hover {
    filter: brightness(95%);
}

.textforseeker a {
    text-decoration: none;
    color: #0E1225;
    margin-left: 30px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
}

.nav li {
    display: inline-block;
    padding: 8px 12px;
}

.nav li a {
    color: #0E1225;
    text-decoration: none;
    font-size: 14px;
}

.nav li a i {
    color: #6c757d;
}

.nav li:last-child {
    position: relative;
    padding: 8px 22px 8px 12px;
}

.nav li:last-child::after {
    content: "";
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    right: 5px;
    width: 1px;
    height: 20px;
    background-color: #e6e6e8;
}

.header_logo {
    display: flex;
    align-items: center;
    margin-right: 10px;
    
}

.header_logo img {
    height: 40px;
    display: block;
}

.banner {
    position: relative;
}

.banner_image img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
    z-index: -1;
}   

.wrap_banner {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_title {
    font-size: 28px;
    color: white;
    font-weight: 600;
    margin-bottom: 12px;
}

.banner_count {
    font-size: 16px;
    color: white;
    margin-bottom: 12px;
}

.banner_search {
    display: flex;
}

.banner_input {
    height: 54px;
    width: calc(50% - 76px);
    display: flex;
    position: relative;
    margin-right: 16px;
    border-radius: 4px;
}

.banner_input i {
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    left: 16px;
    font-size: 20px;
    color: #0069DB;
}

.banner_input input {
    width: 100%;
    height: 100%;
    padding: 6px 12px 6px 46px;
    font-size: 15px;
    border-radius: 4px;
    border: none;
    color: #0E1225;
}

.banner_input input:focus {
    outline: none;
}

.btn_search {
    flex-grow: 1;
    border-radius: 4px;
    background-color: #0069DB;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 100;
}

.btn_search i {
    margin-right: 8px;
}

.name_banner {
    color: white;
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-weight: 600;
}
.content {
    color: #00133F;
    padding: 24px 48px;
}

.content_section.content_section--distance {
    padding: 48px 0;
}

.content_item {
    padding: 8px 0;
    position: relative;
}

.content_item::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: #D7D7DB;
    top: 98%;

}

.content_sub {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 16px;
}

.content_title {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.content_title h2 {
    font-size: 30px;
    position: relative;
    padding-right: 16px;
}

.content_title h2::after {
    content: "";
    position: absolute;
    width: 1.5px;
    height: 50%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #6c757d;
}

.content_title div {
    color: #0069DB;
    padding: 0 16px;
}

.content_title div:hover span {
    text-decoration: underline;
    filter: brightness(50%);
    cursor: pointer;
}

.content_title div:hover i {
    filter: brightness(50%);
    cursor: pointer;
}

.content_item {
    display: flex;
    font-size: 15px;
}

.com_avt {
    margin-right: 16px;
}

.com_avt img {
    width: 72px;
    height: 72px;
    border-radius: 4px;
}

.com_info {

}

.com_position {
    font-size: 18px;
    font-weight: 600;
    visibility: visible;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 5px;
}

.com_name {
    color: #343a40;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 5px;
}

.com_name:hover, 
.com_location:hover {
    text-decoration: underline;
}

.com_location {
    display: block;
    color: #343a40;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 5px;
    text-decoration: none;
}

.content_sub_banner {
    width: 100%;
}

.footer {

}

.footer_top {
    background-color: var(--primary-color);
}

.wrap_footer_top {
    padding: 40px 0 80px 0;
}

.footer_top_title {
    margin: 40px 0 8px 0;
    color: #999999;
    font-size: 15px;
    font-weight: 600;
}

.footer_top_list {
    list-style: none;
}

.footer_top_list li {

}

.footer_top_list li a {
    color: white;
    text-decoration: none;
    line-height: 1.6;
    font-size: 15px;
    font-weight: 100;
}

.footer_top_list li a:hover {
    text-decoration: underline;
}

.wrap_footer_top_section i {
    font-size: 25px;
    color: white;
    margin-right: 10px;
    cursor: pointer;
}

.footer_bottom {
    padding: 48px 15px;
}

.footer_bootom_banner img{
    height: 50px;
    display: block;
    margin: 0 auto;
}

.footer_bottom_address {
    font-size: 14px;
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 16px;
    color: #0E1225;
    line-height: 20px;
} 


